
@{
    ViewData["Title"] = "Index";
}

@section css{
    <link rel="stylesheet" href="~/css/BiznesLogin.css" asp-append-version="true">

}

    <section class="biznes-login">
        <div class="green-title"></div>
        <div class="login">
            <form>
                <label for="email">E-Mail</label>
                <input type="email" id="email" name="email"><br><br>
                <label for="password">Şifrə</label>
                <input type="password" id="password" name="password"><br><br>
                <div class="login-submit">
                    <input id="submit-login" type="submit" value="Giriş">
                    <a href="#"> Şifrəni unutdum</a>
                </div>

            </form>

        </div>
    </section>





