
@{
    ViewData["Title"] = "Index";
}

@section css{
    <link rel="stylesheet" href="~/css/CarDealerships.css" asp-append-version="true">
}

<section class="car-dealerships">
    <div class="dealerships">
        <h4>RƏSMİ NÜMAYƏNDƏLƏR</h4>
    </div>
    <div class="dealership">
        <!-- Birinci Card -->
        <div class="auto-card">
            <div class="img-content">
                <span class="resmi-label">Resmi</span>
                <img src="~/img/15040_203Kyrdpi5qwqrmp9F3YGw.jpg" alt="#">
            </div>
            <div class="text-content">
                <h5>Abşeron Mercedes-Benz</h5>
                <p>Abşeron Avtomobil Mərkəzi Mercedes-Benz markasının Azərbaycandakı rəsmi dileridir.</p>
                <span><i class="fa-solid fa-phone"></i>(055) 203-07-75</span>
                <a>23 elan</a>
            </div>

        </div>

        <!-- İkinci Card -->
        <div class="auto-card">
            <div class="img-content">
                <span class="resmi-label">Resmi</span>
                <img src="~/img/15321_9iatUksbrcpVeyPqVK0vOw.jpg" alt="#">
            </div>
            <div class="text-content">
                <h5>Abşeron Mercedes-Benz</h5>
                <p>Abşeron Avtomobil Mərkəzi Mercedes-Benz markasının Azərbaycandakı rəsmi dileridir.</p>
                <p><i class="fa-solid fa-phone"></i>(055) 203-07-75</p>
                <a>23 elan</a>
            </div>
        </div>
        <div class="auto-card">
            <div class="img-content">
                <span class="resmi-label">Resmi</span>
                <img src="~/img/15363_hVbkAZEk1bugaj6f1J-Xhw.jpg" alt="#">
            </div>
            <div class="text-content">
                <h5>Abşeron Mercedes-Benz</h5>
                <p>Abşeron Avtomobil Mərkəzi Mercedes-Benz markasının Azərbaycandakı rəsmi dileridir.</p>
                <p><i class="fa-solid fa-phone"></i>(055) 203-07-75</p>
                <a>23 elan</a>
            </div>
        </div>
        <div class="auto-card">
            <div class="img-content">
                <span class="resmi-label">Resmi</span>
                <img src="~/img/3619_br0u-yUgGs_JHQItPsCCng.jpg" alt="#">
            </div>
            <div class="text-content">
                <h5>Abşeron Mercedes-Benz</h5>
                <p>Abşeron Avtomobil Mərkəzi Mercedes-Benz markasının Azərbaycandakı rəsmi dileridir.</p>
                <p><i class="fa-solid fa-phone"></i>(055) 203-07-75</p>
                <a>23 elan</a>
            </div>
        </div>
    </div>
</section>
