<footer>
    <div class="footer_top">
        <div class="footer_Advertising">
            <a href="#" style="color:black;">Reklam yerləşdirin</a>
        </div>
        <div class="footer_contacts">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-solid fa-envelope"></i>turbo@turbo.az</a>
            <a href="#"><i class="fa-solid fa-phone"></i>(012) 505-77-55</a>
        </div>
    </div>
    <div class="footer_main">
        <div class="main_category">
            <a href="">BMW(13)</a>
            <a href="">Mercedes (4)</a>
            <a href="">Altima (128)</a>
            <a href="">KIA (1)</a>
            <a href="">Nissan (4)</a>
            <a href="">Volvo (41)</a>
            <a href="">Bently (12)</a>
            <a href="">Lexus (12)</a>
            <a href="">Proshe (1s2)</a>
            <a href="">Ford (122)</a>
            <a href="">Hummer (12)</a>
            <a href="">Niva (12)</a>
            <a href="">optima (12)</a>
            <a href="">Class (2)</a>
        </div>
    </div>
    <div class="footer_menu">
        <div class="menu-category">
            <a href="#">Qaydalar</a>
            <a href="#">Qanun</a>
            <a href="#">İstifadəçi razılaşması</a>
            <a href="#">Məxfilik siyasəti</a>
        </div>
    </div>
    <div class="footer_information">
        <div class="footer_info_desc">
            <p>
                Saytın Administrasiyası reklam bannerlərinin və yerləşdirilmiş elanların məzmununa görə məsuliyyət
                daşımır.
            </p>
            <p>2006-2023 Digital Classifieds MMC. VÖEN: 1405631661</p>
            <a href="#">Mobil versiyası</a>
        </div>
    </div>
</footer>