@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Home Page";
}

<section class="main_search">
    @await Component.InvokeAsync("Filter")
</section>
<section class="vıp_announcements">
    <div class="announcements">
        <div class="vıp_title">
            <h4>VIP ELANLAR</h4>
        </div>
        <div class="car_announcements">
            @await Component.InvokeAsync("ProductCard", new {filter=new FilterViewModel{Type="Vip"}})
        </div>
    </div>
</section>
<section class="recent_announcements">
    <div class="announcements">
        <div class="vıp_title">
            <h4>Son Elanlar</h4>
        </div>
        <div class="car_announcements">
            @await Component.InvokeAsync("ProductCard", new {filter=TempData["Filter"]})
        </div>
        </div>
</section>
<section class="premium_announcements">
    <div class="announcements">
        <div class="vıp_title">
            <h4>Premium Elanlar</h4>
        </div>
        <div class="car_announcements">
            @await Component.InvokeAsync("ProductCard", new {filter=new FilterViewModel{Type="Premium"}})
        </div>
    </div>
</section>