@{
    ViewData["Title"] = "Home Page";
}

<section class="main_search">
    <form>
        <div class="floor-1">
            <div class="custom-dropdown" id="firstDropdown">
                <input type="text" value="Marka" data-default="Marka" readonly />
                <i class="fas fa-chevron-down"></i>
                <ul class="dropdown-list scroll-bar">
                    <li class="def"><i class="fa-solid fa-xmark"></i>Sıfırla</li>
                    <li>BMW</li>
                    <li>Volvo</li>
                    <li>Kia</li>
                    <li>Jeep</li>
                    <li>Toyota</li>
                    <li>Mercedes</li>
                    <li>Porshe</li>
                </ul>
            </div>

            <div class="custom-dropdown" id="secondDropdown">
                <input type="text" value="Model" data-default="Model" readonly />
                <i class="fas fa-chevron-down"></i>
                <ul class="dropdown-list">
                    <li class="def"><i class="fa-solid fa-xmark"></i>Sıfırla</li>
                    <li><input type="checkbox"> Model1</li>
                    <li><input type="checkbox"> Model2</li>
                    <!-- digər modellər -->
                </ul>
            </div>

            <div class="input-group">
                <label>
                    <input type="radio" name="choice" value="all" data-default="all" checked>
                    <span>Hamısı</span>
                </label>
                <label>
                    <input type="radio" name="choice" value="new" data-default="new">
                    <span>Yeni</span>
                </label>
                <label>
                    <input type="radio" name="choice" value="used" data-default="used">
                    <span>Sürülmüş</span>
                </label>
            </div>


            <div class="custom-dropdown">
                <input type="text" value="Şəhər" readonly data-default="Şəhər" />
                <i class="fas fa-chevron-down"></i>
                <ul class="dropdown-list">
                    <li class="def"><i class="fa-solid fa-xmark"></i>Sıfırla</li>
                    <li><input type="checkbox"> Model1</li>
                    <li><input type="checkbox"> Model2</li>
                    <!-- digər modellər -->
                </ul>
            </div>
        </div>
        <div class="floor-2">
            <div class="price">
                <input type="number" value="minPrice" data-default="minPrice" id="minPrice" name="minPrice"
                       placeholder="Qiymət, min">

                <input type="number" value="maxPrice" data-default="maxPrice" id="maxPrice" name="maxPrice"
                       placeholder="Maks">
            </div>

            <div class="custom-dropdown">
                <input type="text" value="AZN" data-default="AZN" readonly />
                <i class="fas fa-chevron-down"></i>
                <ul class="dropdown-list">
                    <li>AZN</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>

            <div class="kredit-barter">
                <input type="text" value="Kredit" class="credit-input" name="Kredit" readonly>
                <input type="text" value="Barter" class="credit-input" name="Barter" readonly>

            </div>

            <div class="custom-dropdown">
                <input type="text" value="Ban Növü" data-default="Ban Növü" readonly />
                <i class="fas fa-chevron-down"></i>
                <ul class="dropdown-list scroll-bar">
                    <li class="def"><i class="fa-solid fa-xmark"></i>Sıfırla</li>
                    <li><input type="checkbox"> BMW</li>
                    <li><input type="checkbox"> Volvo</li>
                    <li><input type="checkbox"> Kia</li>
                    <li><input type="checkbox"> Jeep</li>
                </ul>
            </div>

            <div class="custom-dropdown">
                <input type="text" value="Il,min" data-default="Il,min" readonly />
                <i class="fas fa-chevron-down"></i>
                <ul class="dropdown-list scroll-bar">
                    <li class="def"><i class="fa-solid fa-xmark"></i>Sıfırla</li>
                    <li>2010</li>
                    <li> 2011</li>
                    <li> 2012</li>
                    <li> 2013</li>
                </ul>
            </div>

            <div class="custom-dropdown">
                <input type="text" value="maks." data-default="maks." readonly />
                <i class="fas fa-chevron-down"></i>
                <ul class="dropdown-list scroll-bar">
                    <li class="def"><i class="fa-solid fa-xmark"></i>Sıfırla</li>
                    <li>2023</li>
                    <li> 2022</li>
                    <li> 2021</li>
                    <li> 2020</li>
                </ul>
            </div>

            <div class="custom-dropdown">
                <input type="text" value="Rəng" data-default="Rəng" readonly />
                <i class="fas fa-chevron-down"></i>
                <ul class="dropdown-list scroll-bar">
                    <li class="def"><i class="fa-solid fa-xmark"></i>Sıfırla</li>
                    <li><input type="checkbox"> Qara</li>
                    <li><input type="checkbox"> Yasil</li>
                    <li><input type="checkbox"> Sari</li>
                    <li><input type="checkbox"> Ag</li>
                </ul>
            </div>
        </div>

        <div class="extra-filters" style="display:none;">
            <div class="floor-3">

                <div class="custom-dropdown">
                    <input type="text" value="Yanacaq növü" data-default="Yanacaq növü" readonly />
                    <i class="fas fa-chevron-down"></i>
                    <ul class="dropdown-list scroll-bar">
                        <li class="def"><i class="fa-solid fa-xmark"></i>Sıfırla</li>
                        <li><input type="checkbox"> Dizel</li>
                        <li><input type="checkbox"> Benzin</li>
                        <li><input type="checkbox"> Qaz</li>
                        <li><input type="checkbox"> Hibrid</li>
                    </ul>
                </div>

                <div class="custom-dropdown">
                    <input type="text" value="Ötürücü" data-default="Ötürücü" readonly />
                    <i class="fas fa-chevron-down"></i>
                    <ul class="dropdown-list scroll-bar">
                        <li class="def"><i class="fa-solid fa-xmark"></i>Sıfırla</li>
                        <li><input type="checkbox"> Arxa</li>
                        <li><input type="checkbox"> Ön</li>
                        <li><input type="checkbox"> Tam</li>
                    </ul>
                </div>

                <div class="custom-dropdown">
                    <input type="text" value="Sürətlər qutusu" data-default="Sürətlər qutusu" readonly />
                    <i class="fas fa-chevron-down"></i>
                    <ul class="dropdown-list scroll-bar">
                        <li class="def"><i class="fa-solid fa-xmark"></i>Sıfırla</li>
                        <li><input type="checkbox"> Mexaniki</li>
                        <li><input type="checkbox"> Avtomat</li>
                        <li><input type="checkbox"> Robotlaşdırılmış</li>
                        <li><input type="checkbox"> Variator</li>
                    </ul>
                </div>

                <div class="custom-dropdown">
                    <input type="text" value="Yerlərin sayı" data-default="Yerlərin sayı" readonly />
                    <i class="fas fa-chevron-down"></i>
                    <ul class="dropdown-list scroll-bar">
                        <li class="def"><i class="fa-solid fa-xmark"></i>Sıfırla</li>
                        <li><input type="checkbox"> 1</li>
                        <li><input type="checkbox"> 2</li>
                        <li><input type="checkbox"> 3</li>
                        <li><input type="checkbox"> 4</li>
                        <li><input type="checkbox"> 5</li>
                        <li><input type="checkbox"> 6</li>
                        <li><input type="checkbox"> 7</li>
                    </ul>
                </div>
            </div>
            <div class="floor-4">
                <div class="custom-dropdown">
                    <input type="text" value="Həcm(sm), min." data-default="Həcm(sm), min." readonly />
                    <i class="fas fa-chevron-down"></i>
                    <ul class="dropdown-list scroll-bar">
                        <li class="def"><i class="fa-solid fa-xmark"></i>Sıfırla</li>
                        <li> 100</li>
                        <li> 200</li>
                        <li>300</li>
                        <li> 400</li>
                        <li>500</li>
                    </ul>
                </div>

                <div class="custom-dropdown">
                    <input type="text" value="maks." data-default="maks." readonly />
                    <i class="fas fa-chevron-down"></i>
                    <ul class="dropdown-list scroll-bar">
                        <li class="def"><i class="fa-solid fa-xmark"></i>Sıfırla</li>
                        <li> 0</li>
                        <li> 100</li>
                        <li> 200</li>
                        <li>300</li>
                        <li> 400</li>
                        <li>500</li>
                    </ul>
                </div>

                <div class=" power-maks">
                    <input type="number" value="Güc(a. g.), min." data-default="Güc(a. g.), min."
                           id="Güc(a. g.), min." name="Güc(a. g.), min." placeholder="Güc(a. g.), min.">

                    <input type="number" value="maks." data-default="maks." id="maks." name="maks."
                           placeholder="maks.">
                </div>

                <div class=" march-maks">
                    <input type="number" value="Yürüş (km), min." data-default="Yürüş (km), min."
                           id="Yürüş (km), min." name="Yürüş (km), min." placeholder="Yürüş (km), min.">

                    <input type="number" value="maks." data-default="maks." id="maks." name="maks."
                           placeholder="maks.">
                </div>
            </div>

            <div class="floor-5">
                <div class="input-group">
                    <label>
                        <input type="radio" name="secondChoice" value="all-2" data-default="all-2" checked>
                        <span>Hamısı</span>
                    </label>
                    <label>
                        <input type="radio" name="secondChoice" value="Avtosalonlar"
                               data-default="Avtosalonlar">
                        <span>Avtosalonlar</span>
                    </label>
                    <label>
                        <input type="radio" name="secondChoice" value="Personal" data-default="Personal">
                        <span>Şəxsi</span>
                    </label>
                </div>

                <div class="custom-dropdown">
                    <input type="text" value="Sahiblərinin sayı" data-default="Sahiblərinin sayı" readonly />
                    <i class="fas fa-chevron-down"></i>
                    <ul class="dropdown-list">
                        <li class="def"><i class="fa-solid fa-xmark"></i>Sıfırla</li>
                        <li><input type="checkbox"> 1</li>
                        <li><input type="checkbox"> 2</li>
                        <li><input type="checkbox"> 3</li>
                        <li><input type="checkbox"> 4 ve daha cox</li>
                    </ul>
                </div>


                <div class="custom-dropdown">
                    <input type="text" value="Hansı bazar üçün yığılıb" data-default="Hansı bazar üçün yığılıb"
                           readonly />
                    <i class="fas fa-chevron-down"></i>
                    <ul class="dropdown-list scroll-bar">
                        <li class="def"><i class="fa-solid fa-xmark"></i>Sıfırla</li>
                        <li><input type="checkbox"> Avropa</li>
                        <li><input type="checkbox"> Amerika</li>
                        <li><input type="checkbox"> Cin</li>
                        <li><input type="checkbox"> Russia</li>
                        <li><input type="checkbox"> Turkish</li>
                        <li><input type="checkbox"> Germany</li>
                        <li><input type="checkbox"> Azerbaycan</li>
                    </ul>
                </div>
            </div>

            <div class="floor-6">
                <div class="kredit-barter">
                    <input type="text" value="Vuruğu yoxdur" class="credit-input" name="Vuruğu yoxdur" readonly>
                    <input type="text" value="Rənglənməyib" class="credit-input" name="Rənglənməyib" readonly>
                    <input type="text" value="Yalnız qəzalı avtomobillər" class="credit-input"
                           name="Yalnız qəzalı avtomobillər" readonly>

                </div>
            </div>
            <div class="floor-7">
                <div class="main-search-title">
                    <span>
                        Avtomobilin təchizatı
                        <hr>
                    </span>
                </div>

                <div class="kredit-barter">
                    <input type="text" value="ABS" class="credit-input" name="ABS" readonly>
                    <input type="text" value="Lyuk" class="credit-input" name="Lyuk" readonly>
                    <input type="text" value="Deri salon" class="credit-input" name="Deri salon" readonly>

                </div>
            </div>
        </div>

        <div class="main-search-footer">
            <div class="main-search-footer-left">
                <div class="search-count">
                    Bu gün:
                    <a href="#"> 1670 Yeni elan</a>
                </div>
            </div>
            <div class="main-search-footer-right">
                <div class="conut-zero">
                    <span>Sıfırla</span>
                </div>
                <div class="all-filtr">
                    <span class="toggle-filters">
                        Daha çox filtr
                        <i class="fas fa-chevron-down"></i>
                    </span>
                </div>

                <div>
                    <button>Elanları göstər</button>
                </div>
            </div>
        </div>
    </form>
</section>
<section class="vıp_announcements">
    <div class="announcements">
        <div class="vıp_title">
            <h4>VIP ELANLAR</h4>
        </div>
        <div class="car_announcements">
            <a class="card" asp-controller="Products" asp-action="Details">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/3616_oo_tJnE0GYiG_h6xbULlJg.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </a>

            <div class="card">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/15321_9iatUksbrcpVeyPqVK0vOw.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </div>

            <div class="card">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/15363_hVbkAZEk1bugaj6f1J-Xhw.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </div>

            <div class="card">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/3619_br0u-yUgGs_JHQItPsCCng.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </div>

            <div class="card">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/40043_evkqVd8fSdCs_OhlysVRRw.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </div>
        </div>

</section>
<section class="recent_announcements">
    <div class="announcements">
        <div class="vıp_title">
            <h4>Son Elanlar</h4>
        </div>
        <div class="car_announcements">
            <div class="card">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/3616_oo_tJnE0GYiG_h6xbULlJg.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </div>

            <div class="card">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/15321_9iatUksbrcpVeyPqVK0vOw.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </div>

            <div class="card">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/15363_hVbkAZEk1bugaj6f1J-Xhw.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </div>

            <div class="card">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/3619_br0u-yUgGs_JHQItPsCCng.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </div>

            <div class="card">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/40043_evkqVd8fSdCs_OhlysVRRw.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </div>
        </div>

</section>
<section class="premium_announcements">
    <div class="announcements">
        <div class="vıp_title">
            <h4>Premium Elanlar</h4>
        </div>
        <div class="car_announcements">
            <div class="card">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/3616_oo_tJnE0GYiG_h6xbULlJg.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </div>

            <div class="card">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/15321_9iatUksbrcpVeyPqVK0vOw.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </div>

            <div class="card">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/15363_hVbkAZEk1bugaj6f1J-Xhw.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </div>

            <div class="card">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/3619_br0u-yUgGs_JHQItPsCCng.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </div>

            <div class="card">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/40043_evkqVd8fSdCs_OhlysVRRw.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </div>
        </div>

</section>