* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}


/* Header Bar Start */


.fa-solid {
    padding: 0 5px;
}

.header_bar {
    display: flex;
    justify-content: space-between;
    padding: 15px 170px;
}

.link_bar > a,
.header_bar_right > a {
    color: #8E94AB;
}

.icon {
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: white;
    font-size: 15px;
}

.link_bar a:not(:last-child) {
    margin-right: 10px;
}

.header_bar_right {
    display: flex;
    gap: 15px;
}

.header_bar_phone > span,
.header_bar_phone > span > a {
    font-size: 15px;
    color: black;
}

    .link_bar > a:hover,
    .header_bar_right > a:hover,
    .header_bar_phone > span > a:hover,
    .footer_contacts a:hover,
    .footer_Advertising a:hover,
    .main_category a:hover,
    .menu-category a:hover {
        color: #B92B24;
    }

/* Header Bar End */





/* Navbar start */
.header_top_nav {
    padding: 4px 170px;
    background-color: #B92B24;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    color: white;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bolder;
}

.nav-links {
    display: flex;
    gap: 20px;
    flex-grow: 1;
    margin: 4px 0 0 44px;
}

    .nav-links a {
        position: relative;
        color: white;
        transition: color 0.5s;
    }

.add-ad-btn {
    background-color: #92D148;
    color: white;
    border: none;
    padding: 12px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    width: 244px;
}

    .dropdown-content > a {
        color: black;
        padding: 6px 8px;
        text-decoration: none;
        display: block;
        font-size: 15px;
    }

        .dropdown-content > a:hover {
            background-color: #B92B24;
            color: white;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-links > li > a:hover {
    color: rgb(199, 199, 199);
}

.new-tag {
    position: absolute;
    top: -17px;
    right: -16px;
    background-color: #92D148;
    color: white;
    padding: 2px 6px;
    border-radius: 6px;
    font-size: 12px;
}

/* Navbar End */






/* Footer start */

.footer_top,
.footer_menu {
    background-color: #F1F3F7;
    padding: 15px 170px;
    display: flex;
    border-top: 2px solid #EAEBF1;
    border-bottom: 2px solid #EAEBF1;
}

.footer_Advertising {
    flex-shrink: 0;
    color: #212c3a;
}

.footer_contacts {
    margin-left: auto;
}

    .footer_contacts a {
        color: #8E94AB;
        margin: 0 10px;
    }

        .footer_contacts a i {
            font-size: 20px;
        }

        .footer_contacts a:last-child {
            margin-right: 0;
        }

.footer_main {
    padding: 15px 170px;
}

.main_category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

    .main_category a {
        color: #8E94AB;
        display: inline-block;
        width: 13%;
    }

.menu-category {
    margin-left: -17px;
}

    .menu-category a {
        color: #212c3a;
        margin: 0 16px;
        font-size: 13px;
    }

.footer_information {
    display: flex;
    padding: 24px 170px;
    background-color: #B92B24;
}

.footer_info_desc {
    display: flex;
    width: 100%;
    align-items: center;
}

    .footer_info_desc p:first-child {
        margin-right: auto;
        width: 40%;
    }

    .footer_info_desc p,
    .footer_info_desc a {
        font-size: 13px;
        color: white;
        margin: 0;
    }

    .footer_info_desc a {
        margin-left: 27px;
    }

        .footer_info_desc a:hover {
            text-decoration: underline;
        }

/* Footer End */







/* Main search Start */

.main_search {
    display: flex;
    padding: 15px 170px;
    background-color: #EBEDF2;
}

    .main_search form {
        width: 100%;
    }

.floor-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.floor-1,
.floor-2,
.floor-3,
.floor-4,
.floor-5 {
    margin: 10px 0px;
}
.floor-5{
    margin:21px 0;
}
.floor-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.floor-5 > .input-group > label,
.floor-6 > .kredit-barter > input,
.floor-7 > .kredit-barter > input {
    margin-right: 10px;
}

.custom-dropdown,
.custom-dropdown-val,
.custom-dropdown-how-many {
    display: inline-flex;
}

    .custom-dropdown select {
        padding: 13px 155px 13px 3px;
        border-radius: 5px;
        border: 1px solid #dfe3e9;
        font-size: 15px;
        cursor:pointer;
    }

    .custom-dropdown-val select {
        padding: 13px 42px 13px 3px;
        border-radius: 5px;
        border: 1px solid #dfe3e9;
        font-size: 15px;
        cursor: pointer;
    }
    .custom-dropdown-how-many select {
        padding: 13px 68px 13px 3px;
        border-radius: 5px;
        border: 1px solid #dfe3e9;
        font-size: 15px;
        cursor: pointer;
    }


.default-option {
    color: #8E94AB;
}



.fa-solid.fa-trash {
    color: #B92B24;
    margin-right: 10px;
}

.def {
    color: #B92B24;
}

.input-group {
    display: inline-flex;
}

    .input-group label {
        margin-right: 0;
        cursor: pointer;
        padding: 0 3px;
    }

    .input-group input[type="radio"] {
        display: none;
    }

    .input-group span {
        border-radius: 5px;
        padding: 11px 15px;
        border: 1px solid #fff4f4;
        transition: background-color 0.3s, color 0.3s;
    }

    .input-group input[type="radio"]:checked + span {
        background-color: red;
        color: white;
    }

.price,
.kredit-barter,
.power-maks,
.march-maks {
    display: inline-flex;
}

    .price input,
    .march-maks input {
        margin: 3px 0px;
        border-radius: 5px;
        border: #8E94AB;
        font-size: 15px;
        padding: 13px 0;
        width: 138px;
    }

    .power-maks input {
        margin: 3px 0px;
        border-radius: 5px;
        border: #8E94AB;
        font-size: 15px;
        padding: 13px 0;
        width: 130px;
    }

.credit-input {
    border-radius: 5px;
    border: #8E94AB;
    font-size: 15px;
    padding:16px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    outline: none;
}

    .credit-input.active {
        background-color: #FBE7E6;
        color: #B92B24;
        border-color: #B92B24;
    }

/* Main search footer start */
.main-search-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 19px 0;
}

.main-search-footer-left,
.main-search-footer-right {
    display: flex;
    align-items: center;
}

    .main-search-footer-right > div {
        margin-left: 10px;
    }

.search-count > a {
    color: #5A87F1;
}

.main-search-footer-right > div > span {
    cursor: pointer;
    color: #B92B24;
    margin-right: 10px;
}

    .main-search-footer-right > div > span > i {
        margin-left: 2px;
    }

.main-search-footer-right > div > button {
    color: white;
    background-color: #B92B24;
    border-color: #B92B24;
    border-radius: 8px;
    padding: 14px 45px;
}

/* Main search footer end */

.main-search-title {
    margin: 20px 0 20px 0;
}

    .main-search-title span {
        font-size: 20px;
    }

/* Main search End */





/* VIP announcements start */

.vıp_announcements,
.recent_announcements,
.premium_announcements {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 170px;
    background-color: #F1F3F7;
}

.announcements h4 {
    font-size: 19px;
    margin-bottom: 24px;
}

.car_announcements {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 2%;
}

.card {
    width: 23.5%;
    cursor: pointer;
    background-color: white;
    position: relative;
    margin-bottom: 20px;
    color: black;
    border-radius:5px;
}

.heart-icon {
    position: absolute;
    color: white;
    top: 10px;
    right: 10px;
    font-size: 26px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* color üçün keçidi əlavə edin */
    box-sizing: border-box;
}

    .heart-icon.active {
        color: #EB4E27;
    }


.salon-label {
    position: absolute;
    border-radius: 5px;
    background-color: #4963F4;
    font-size: 10px;
    padding: 5px 10px;
    bottom: 89px;
    left: 0;
}

.check-icon {
    position: absolute;
    color: #EB4E27;
    font-size: 18px;
    bottom: 93px;
    right: 10px;
    font-weight: bolder;
}

.rotate-wrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.rotate-icon {
    color: white;
    background-color: #89C643;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}

.rotate-tooltip {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: #89C643;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 10px;
    margin-top: 5px;
}

.rotate-wrapper:hover .rotate-tooltip {
    display: block;
}

.card > img {
    object-fit: cover;
    width: 100%;
    border-radius:5px;
}

.card > h4 {
    font-size: 20px;
    margin: 0 0 0 9px;
}

.card p {
    margin: 0 0 0 13px;
}

    .card p:nth-last-child(1),
    .card p:nth-last-child(2),
    .card p:nth-last-child(3) {
        flex: 1;
        margin: 0;
    }

.card .details {
    display: flex;
    margin: 0 0 0 13px;
}

.card span {
    color: #8E94AB;
    margin: 0 0 0 13px;
}


@media (max-width: 992px) {
    .card {
        width: 32%;
    }
}

@media (max-width: 768px) {
    .card {
        width: 48%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}


/* VIP announcements end */




/* Giris Modal Start */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F1F3F7;
    z-index: 1;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 405px;
    border: 1px solid #eaebf2;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 #eaebf2;
}

    .modal-content h2 {
        font-size: 34px;
        font-weight: 750;
        padding: 21px 0 17px 0;
    }

#text-span {
    font-size: 15px;
    color: #8E94AB;
    padding: 8px 34px;
}

.button-1 {
    color: white;
    background-color: #4b8af9;
    padding: 20px 85px;
    font-size: 17px;
    border: 1px solid #4b8af9;
    border-radius: 5px;
    margin: 13px 0;
    cursor: pointer;
}

.button-2 {
    color: #4b8af9;
    background-color: white;
    padding: 20px 85px;
    font-size: 17px;
    border: 1px solid #4b8af9;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
}

.close-btn {
    position: absolute;
    top: 93px;
    right: 47px;
    cursor: pointer;
    font-size: 24px;
    color: #A7ABB3;
    border: 1px solid #A7ABB3;
    border-radius: 50%;
    padding: 7px;
}

/*  Modal Phone start */
.modal-content h4 {
    font-size: 23px;
    padding: 21px 0 17px 0;
}

.modal-content > form > label {
    color: #8E94AB;
    font-size: 14px;
}

.modal-content > form > input {
    width: 311px;
    height: 30px;
    border: none;
    border-bottom: 2px solid #8E94AB;
    outline: none;
}

.button-phone {
    color: white;
    background-color: #4b8af9;
    padding: 20px 85px;
    font-size: 17px;
    border: 1px solid #4b8af9;
    border-radius: 5px;
    margin: 13px 0;
    cursor: pointer;
}

    .button-phone.deactivated {
        background-color: red;
        opacity: 1;
        cursor: not-allowed;
    }

/*  Modal Phone end */

/*  Modal Phone message start */
.modal-content p {
    font-size: 20px;
    padding: 21px 0 17px 0;
    margin-bottom: 10px;
}

.fa-chevron-left {
    color: #8E94AB;
    font-size: 18px;
    padding-right: 65px;
    cursor: pointer;
}

#displayedPhone {
    display: flex;
    margin-right: auto;
    color: #8E94AB;
    font-size: 14px;
    padding-left: 44px;
    margin-bottom: 10px;
}

.sms-code {
    margin: 26px 0;
    color: #4b8af9;
    cursor: pointer;
}
/*  Modal Phone message end */

/* Giris Modal End */


.filter-list {
    padding: 15px 15px 15px 25px;
    font-size: 16px
}


.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pagination > li{
    width:15px;
    margin: 10px 5px;
    padding:5px;
    
}
    .pagination > li > a {
        color: red;
    }