.new-product {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 170px;
}

.new-product-title {
    width: 100%;
    padding: 20px;
    background-color: #F1F3F7;
    margin-bottom: 20px;
}

.new-prouduct-not {
    display: flex;
    width: 100%;
}

.new-prouduct-not>ul {
    margin-left: 30px;
}

.new-prouduct-not>ul li {
    list-style: square;
    font-size: 14px;
    padding: 4px 0;
}

.product-form {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.product-form form {
    margin-top: 20px;
    width: 100%;
    display: flex;
    margin-right: 12px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-group {
    width: 49%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    font-size: 16px;
    margin-right: 10px;
}

.form-group label:after,
#star::after {
    content: "*";
    color: red;
    margin-left: 2px;
}

.form-group select {
    height: 43px;
    width: 251px;
    border-radius: 5px;
    overflow-y: auto;
    border-color: #aeaeae;
}


.form-group-checbox {
    width: 49%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group-checbox label:first-child {
    margin-right: 26px;
    font-size: 16px;
}

    .form-group-checbox input[type="number"], #engine-power {
        width: 251px;
        padding: 8px 0;
        border-radius: 5px;
        margin-left: auto;
        border-color: #aeaeae;
    }

.form-group-checbox>label {
    font-size: 16px;
}

.form-group-checbox>label>input[type="radio"] {
    margin: 0 0 0 5px;
}

.product-form-checbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 21px 0;
}

.product-form-checbox>label {
    margin-right: 41px;
}

.form-group-situation {
    width: 43%;
    margin-right: 2%;
    display: flex;
    align-items: center;
}

.checkbox-item label {
    display: flex;
}

.checkbox-item input {
    transform: scale(1.4);
    background-color: red;
}

.checkbox-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox-item label {
    display: block;

}

.checkbox-item label,
.checkbox-item span {
    margin-left: 5px;
}

.checkbox-item span {
    color: #8E94AB;
}

.label-container {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.product-form-checbox .form-group-situation:last-child {
    margin-left: 104px;
    margin-top: 18px;
}

.product-checbox-inline {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}

.checbox-inline {
    display: flex;
    width: 100%;
    margin-right: auto;
}

.checbox-inline:first-child {
    font-size: 18px;
}

.checbox-inline .container:nth-child(2) {
    margin-left: 70px;
}

.container {
    font-size: 18px;
    margin-right: 11px;
    margin-left: 10px;
}

.container input {
    transform: scale(1.4);
    margin-left: 10px;
}

.kredit-checbox,
.barter-checbox {
    width: 100%;
    display: flex;
    margin-top: 26px;
    margin-left: 158px;
}

.vin-kod,
.additional-info {
    display: flex;
    width: 100%;
    margin: 20px 0;
}

.vin-group label:first-child {
    margin-right: 26px;
    font-size: 16px;
}

.vin-group input[type="text"] {
    width: 251px;
    padding: 8px 0;
    border-radius: 5px;
    margin-left: 75px;
    border-color: #aeaeae;
}

.vin-group>label {
    font-size: 16px;
}

.vin-group a {
    margin-left: 20px;
    color: #5A87F1;
    font-size: 13px;
}

.additional-info {
    display: flex;
    width: 100%;
    margin: 20px 0;
    flex-direction: column;
}

.additional-info>span {
    margin-left: 160px;
    font-size: 13px;
    color: #aeaeae;
}

.additional {
    display: flex;
}

.additional textarea {
    margin-left: 56px;
}

.vehicle-supply {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.vehicle-supply h3 {
    margin: 18px 0 17px 0;
    font-size: 22px;
}

.supply {
    display: flex;
    flex-wrap: wrap;
}

.supply-container {
    font-size: 15px;
    width: 25%;
    box-sizing: border-box;
    margin: 10px 0;
}

.supply-container input {
    transform: scale(1.4);
}

.new-contact {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.contact {
    display: flex;
    width: 100%;
    margin: 17px 0 17px 0;
}

.contact label {
    margin-right: 26px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact input {
    padding: 8px 0;
    margin-left: 77px;
    border-color: #aeaeae;
    height: 33px;
    width: 251px;
    border-radius: 5px;
    overflow-y: auto;

}


.contact select {
    padding: 8px 0;
    margin-left: 77px;
    border-color: #aeaeae;
    height: 33px;
    width: 251px;
    border-radius: 5px;
    overflow-y: auto;

}

#phone-contact {
    margin-left: 12px;
}

.new-contact button {
    background-color: #B92B24;
    color: white;
    border-radius: 5px;
    margin: 5px 10px 5px 10px;
    width: 23%;
    height: 34px;
    border: #B92B24;
    margin-left: 14%;
}

.new-contact span {
    color: #aeaeae;
    font-size: 14px;
    margin-top: 10px;
}

.new-contact span>a {
    color: #6486EA;
}

.new-contact h3 {
    font-size: 22px;
    margin-top: 48px;
}

.crate-new-image {

    width: 100%;

}

.new-image {
    width: 100%;
    padding: 10px;
    border: 2px;
    border-style: dotted;
    display: flex;
    align-items: center;
}

.crate-new-image h3 {
    font-size: 22px;
    margin: 18px 0 17px 0;
}

.new-description {
    width: 30%;
}

.new-description span {
    margin: 10px 0;
    display: flex;
    color: #aeaeae;
    font-size: 15px;
}

.new-image form {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.new-image form>label,
.for-plus {
    width: 110px !important;
    height: 110px !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    margin: 10px;
}

.for-plus label {
    width: 100%;
    height: 100%;
}

.new-image form>input,
.for-plus input {
    display: none;
}

.plus-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus-button>span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6486EA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus-button>span>i {
    font-size: 2rem;
    color: white;
}

.new-car {
    width: 100%;
    height: 100%;
    object-fit: cover;
}