

/* Header üçün Responsive */
@media (max-width: 768px) {
    .header_bar {
        flex-direction: column;
        align-items: center;
    }

    .header_bar_left,
    .header_bar_right {
        margin: 5px 0;
    }

    .header_top_nav {
        padding: 4px 15px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .navbar {
        padding: 21px 0;
    }

    .icon {
        position: absolute;
    }

    .icon {
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }

    .navbar .nav-links {
        flex-direction: column;
        margin: 10px 0;
    }

    .header_bar_phone {
        display: none;
    }

    .navbar .nav-links li {
        margin: 20px 0;
    }

    .dropdown-content {
        width: 100%;
    }

    .header_top_nav {
        position: relative;
    }

        .header_top_nav .nav-links,
        .header_top_nav .logo,
        .header_top_nav .add-ad-btn,
        .header_top_nav .dropdown {
            display: none;
        }

    .icon {
        display: block;
        font-size: 28px;
    }

    .header_top_nav.responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar > .logo {
        display: block;
    }

    .navbar > .add-ad-btn {
        display: block;
        margin-left: 10px;
    }

    .header_top_nav.responsive .nav-links,
    .header_top_nav.responsive .dropdown {
        display: block;
        text-align: center;
    }



    .navbar .nav-links {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 576px) {
    .header_bar {
        padding: 10px;
    }

    .header_bar_phone {
        display: none;
    }

    .header_top_nav {
        padding: 2px 10px;
    }

    .navbar .logo {
        font-size: 20px;
    }

    .add-ad-btn {
        padding: 8px 6px;
        font-size: 12px;
    }
}

/* Footer üçün Responsive */

@media only screen and (max-width: 768px) {

    .footer_top,
    .footer_menu {
        padding: 15px 20px;
    }

    .footer_contacts {
        display: flex;
        align-items: flex-start;
    }

        .footer_contacts a {
            padding-right: 5px;
        }

    .main_category {
        display: flex;
        flex-wrap: wrap;
    }

    .footer_menu {
        padding: 15px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main_category a {
        width: 48%;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .menu-category a {
        display: inline-flex;
    }

    .footer_information {
        flex-direction: column;
        text-align: center;
        padding: 15px 20px;
    }

    .footer_info_desc p:first-child {
        margin-right: 0;
        width: 100%;
        margin-bottom: 10px;
    }

    .footer_info_desc a {
        margin-left: 0;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 450px) {

    .main_category {
        display: flex;
        flex-wrap: wrap;
    }

    .footer_menu {
        padding-left: 66px;
    }

    .footer_Advertising {
        display: none;
    }

    .footer_contacts {
        font-size: 10px;
    }

        .footer_contacts > a {
            padding-bottom: 10px;
        }

    .main_category a {
        width: 48%;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .menu-category a {
        display: inline-flex;
        margin: 5px 10px;
    }

    .footer_information {
        flex-direction: column;
        text-align: center;
        padding: 15px 20px;
    }

    .footer_info_desc p:first-child {
        margin-right: 0;
        width: 100%;
        margin-bottom: 10px;
    }

    .footer_info_desc a,
    .footer_info_desc p {
        margin-left: 0;
        margin-top: 10px;
        font-size: 10px;
    }
}


/* Mobil telefonlar üçün */
@media (max-width: 425px) and (min-width: 320px) {
    .main_search {
        padding: 10px 5px;
    }

    .custom-dropdown, .custom-dropdown-how-many {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
    }

        .custom-dropdown select,
        .custom-dropdown-val select,
        .custom-dropdown-how-many select {
            padding: 10px 10px 10px 3px;
            font-size: 14px;
            width: 258px;
            height: 51px;
        }

    .price, .power-maks, .march-maks {
        width: 260px !important;
        margin-left: 24px;
        height: 55px;
    }

        .price input,
        .march-maks input,
        .power-maks input {
            width: 100%;
            padding: 10px 10px;
            margin: 5px 0;
        }

    .input-group {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 15px 0;
    }

    .valyuta {
        font-size: 11px !important;
        border-radius: 5px !important;
        margin-left: 27px !important;
        border: none !important;
    }

    .input-group span {
        padding: 8px 10px;
    }

    .floor-1, .floor-2, .floor-3, .floor-4, .floor-5 {
        flex-direction: column;
        align-items: start;
    }

    .floor-6 > .kredit-barter {
        display: none !important;
    }

    .floor-5 > .input-group > label,
    .floor-7 > .kredit-barter > input {
        display: block;
        margin-right: 0;
        margin-bottom: 5px;
    }

    .search-count {
        display: none;
    }

    .main-search-footer-right {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

        .main-search-footer-right > div > button {
            font-size: 10px;
            padding: 8px 8px;
        }

    .toggle-filters {
        font-size: 13px;
        margin: 0 0;
    }

    .footer_main {
        display: none;
    }

    .vıp_announcements,
    .recent_announcements,
    .premium_announcements {
        padding: 30px 48px;
    }

    .card {
        width: 100% !important;
        display: block;
        align-items: center;
        justify-content: center;
    }

    .check-icon {
        margin-bottom: -12px;
    }

    .card > p {
        font-size: 14px;
    }

    .card > .details {
        font-size: 14px;
        padding: 0 0 0 0;
    }


    .card > span {
        font-size: 14px;
        padding: 3px 4px;
        margin: 0 2px;
    }

    .new-product {
        padding: 0 0;
    }

    .new-prouduct-not > ul > li {
        font-size: 10px;
    }

    .form-group {
        display: block;
        width: 100%;
    }

        .form-group > label {
            font-size: 14px;
            margin-left: 14px;
        }

        .form-group > select {
            height: 38px;
            width: 100%;
            margin-top: 7px;
        }

    .form-group-checbox > label {
        margin-right: 20px;
        font-size: 16px;
        margin-left: 10px;
    }

    #Yürüş {
        border: 1px solid #aeaeae;
        margin-left: 59px;
        height: 37px;
    }

    #Qiymət {
        border: 1px solid #aeaeae;
        width: 149px;
        height: 37px;
    }

    #engine-power {
        width: 100%;
        border: 1px solid #aeaeae !important;
        height: 34px;
        margin-top: 7px;
    }

    .product-form-checbox {
        font-size: 3px;
        flex-wrap: nowrap;
        margin-left: 14px;
    }

    .checbox-inline > .container:nth-child(2) {
        margin-left: 7px;
    }

    .container input {
        transform: scale(1.2);
        margin-left: 0;
    }

    #mobile-res {
        margin-left: -47px;
        margin-top: -17px;
    }

    .product-form-checbox > label,
    .checbox-inline > label,
    .kredit-checbox,
    .barter-checbox,
    .vin-group > label,
    .additional > label,
    .contact > label {
        font-size: 12px !important;
    }

    .label-container {
        font-size: 10px;
    }

        .label-container > span {
            display: none;
        }

    .form-group-checbox > label {
        font-size: 11px;
    }

    .form-group-checbox label:first-child {
        margin-right: 10px;
        font-size: 13px;
    }


    #vin-kod {
        border: 1px solid #aeaeae;
        height: 37px !important;
        width: 259px;
        margin-top: 5px;
        display: flex;
        margin-left: 19px;
    }

    .vin-group > label {
        margin-left: 19px;
    }

    .additional {
        width: 100%;
        display: block;
    }

        .additional > label {
            width: 100%;
            display: block;
            margin: 0 0 19px 5px;
        }

        .additional > textarea {
            width: 100%;
            display: block;
            margin: 0 0 0 0 !important;
        }

    .additional-info > span {
        margin-left: 21px;
    }

    .new-description {
        width: 43%;
    }

    .contact {
        width: 100%;
        display: block;
        margin: 3px 0;
    }

        .contact > label {
            font-size: 14px;
            margin-left: -15rem;
        }

        .contact > input,
        .contact > select {
            border: 1px solid #aeaeae;
            height: 38px;
            width: 100%;
            margin: 7px 0 0 0;
            display: block;
        }

    #phone-contact {
        margin-left: 0;
    }

    .new-contact > button {
        margin-left: 72%;
    }

    .product-container {
        padding: 0 14px;
    }

    .product-embed-and-related {
        padding: 15px 15px;
    }

    .product-title,
    .product-heading-right > a {
        font-size: 15px;
    }

    .product-heading-right a i {
        font-size: 18px;
    }

    .fotorama__wrap--toggle-arrows {
        margin-left: 53px;
    }

    .product-foto {
        width: 100% !important;
        height: 100% !important;
        left: 0px !important;
        top: 0 !important;
    }

    .fotorama__nav {
        margin-left: -103px;
        margin-top: 4px;
    }

    .fotorama {
        min-width: 1px;
        overflow: hidden;
        margin-left: -67px;
        margin-top: 8px;
        width: 116%;
        height: 100%;
    }

    .header-text-content ul li {
        font-size: 14px;
        padding-right: 46px;
    }

    .text-content {
        font-size: 9px;
    }

    .description-content p {
        line-height: 1.5;
        font-size: 9px;
    }

    .text-end-left a,
    .text-end-right > span {
        font-size: 14px;
    }

    .body-text-content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .product-properties {
        width: 100%;
        padding: 15px 0;
    }

    .product-sidebar-container {
        width: 100%;
        height: 261px;
        position: static;
        margin-top: -27px;
    }

    #usd {
        font-weight: bolder;
        font-size: 18px;
        padding-bottom: 4px;
    }

    #val {
        font-size: 14px;
    }

    .product-sidebar-button a {
        padding: 11px 51px;
        font-size: 17px;
    }

    .product-button-phone a {
        padding: 0 56px;
        font-size: 17px;
    }

    .forward-vip-pre a {
        padding: 12px 12px;
        font-size: 16px;
    }

    .check-icon {
        position: absolute;
        bottom: 74px;
        right: 10px;
    }

    .product-embed-and-related {
        padding: 15px 15px;
        margin-top: 73px;
    }

    .advertisements-title > h3,
    .advertisements-title a {
        font-size: 14px;
    }
}

/* Tablet üçün */
@media (max-width: 768px) and (min-width: 426px) {
    .main_search {
        padding: 12px 15px;
    }

    .custom-dropdown {
        display: flex;
        margin: 5px 0;
    }

        .custom-dropdown select,
        .custom-dropdown-val select,
        .custom-dropdown-how-many select {
            padding: 11px 20px 11px 3px;
            font-size: 14px;
            width: 243px;
            height: 43px;
        }

    .valyuta {
        border-radius: 5px !important;
        border: none !important;
        margin-right: 10px;
    }

    .price input,
    .march-maks input,
    .power-maks input {
        padding: 13px 10px;
        margin: 5px 5px;
    }

    .input-group span {
        padding: 8px 12px;
    }

    .price, .power-maks, .march-maks {
        margin-right: 31px;
        width: 18rem;
    }

    .floor-5 {
        margin-top: 15px !important;
    }

    .floor-1, .floor-2, .floor-3, .floor-4, .floor-5 {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin: 5px 0;
    }

    .floor-6 > .kredit-barter {
        display: none !important;
    }

    .floor-5 > .input-group > label,
    .floor-7 > .kredit-barter > input {
        display: block;
        margin-right: 0;
        margin-bottom: 5px;
    }

    .vıp_announcements,
    .recent_announcements,
    .premium_announcements {
        padding: 15px 61px;
    }

    .card {
        width: 32% !important;
    }

    .check-icon {
        margin-bottom: -12px;
    }

    .card > p {
        font-size: 14px;
    }

    .card > .details {
        font-size: 14px;
        padding: 0 0 0 0;
    }

    .card > h4 {
        font-size: 16px;
    }

    .card > span {
        font-size: 14px;
        padding: 3px 0;
        margin: 0 2px;
    }

    .new-product {
        padding: 0 3px;
    }

    .form-group > label {
        font-size: 12px;
    }

    .form-group > select {
        height: 34px;
        width: 235px;
    }

    .form-group-checbox input[type="number"], #engine-power {
        width: 234px !important;
        border: 1px solid #aeaeae !important;
        height: 34px !important;
    }

    .product-form-checbox {
        font-size: 10px;
        flex-wrap: nowrap;
    }


        .product-form-checbox > label,
        .checbox-inline > label,
        .kredit-checbox,
        .barter-checbox,
        .vin-group > label,
        .additional > label,
        .contact > label {
            font-size: 12px !important;
        }

    .form-group-checbox > label {
        font-size: 11px;
    }

    .form-group-checbox label:first-child {
        margin-right: 10px;
        font-size: 13px;
    }


    .vin-group > input {
        border: 1px solid #aeaeae;
        height: 37px !important;
        margin-left: 61px;
    }

    .new-description {
        width: 43%;
    }

    .contact {
        margin: 9px 0 0 0;
    }

        .contact > input,
        .contact > select {
            border: 1px solid #aeaeae;
            height: 34px;
            width: 234px;
        }

    #phone-contact {
        margin-left: 30px;
    }

    .new-contact > button {
        margin-left: 26%;
    }

    .product-container {
        padding: 0 14px;
    }

    .product-embed-and-related {
        padding: 15px 15px;
    }

    .product-title {
        font-size: 18px;
    }

    .product-heading-right > a {
        font-size: 18px;
    }

    .fotorama__wrap--toggle-arrows {
        margin-left: 53px;
    }

    .fotorama__stage__frame {
        width: 100%;
        height: 296px;
        left: 59.3338px;
        top: 0px;
    }

    .product-foto {
        margin-left: -59px;
    }

    .text-content {
        font-size: 11px;
    }

    .product-sidebar-container {
        width: 29%;
        height: 261px;
        padding: 10px;
        margin: 10px;
        top: 25%;
        right: 0;
    }

    #usd {
        font-weight: bolder;
        font-size: 18px;
        padding-bottom: 4px;
    }

    #val {
        font-size: 14px;
    }

    .product-sidebar-button a {
        padding: 11px 51px;
        font-size: 13px;
    }

    .product-button-phone a {
        padding: 0 56px;
        font-size: 13px;
    }

    .forward-vip-pre a {
        padding: 7px 3px;
        margin-top: 6px;
        font-size: 0;
    }

    .check-icon {
        position: absolute;
        bottom: 74px;
        right: 10px;
    }
}

/* Orta ölçülü ekranlar üçün (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {

    .main_search {
        padding: 15px 100px;
    }

    .custom-dropdown {
        display: flex;
        margin: 5px 0;
    }

        .custom-dropdown select,
        .custom-dropdown-val select,
        .custom-dropdown-how-many select {
            padding: 13px 130px 13px 4px;
            font-size: 14px;
            width: 274px;
            height: 43px;
        }

    .valyuta {
        border-radius: 5px !important;
        border: none !important;
        margin-right: 10px;
        height: 44px;
        font-size: 14px;
        margin-top: 4px;
    }

    .kredit-barter {
        height: 45px;
        margin-top: 4px;
    }

    .price input,
    .march-maks input,
    .power-maks input {
        padding: 13px 10px;
        margin: 5px 5px;
    }

    .input-group span {
        padding: 10px 15px;
    }

    .main-search-footer-right > div > button {
        padding: 14px 40px;
    }

    .price, .power-maks, .march-maks {
        margin-right: 31px;
        width: 18rem;
    }

    .floor-5 {
        margin-top: 15px !important;
    }

    .floor-1, .floor-2, .floor-3, .floor-4, .floor-5 {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin: 5px 0;
    }

    .floor-6 > .kredit-barter {
        display: none !important;
    }

    .floor-5 > .input-group > label,
    .floor-7 > .kredit-barter > input {
        display: block;
        margin-right: 0;
        margin-bottom: 5px;
    }

    .header_bar {
        padding: 15px 101px;
    }

    .header_top_nav {
        padding: 4px 101px;
    }

    .vıp_announcements,
    .recent_announcements,
    .premium_announcements {
        padding: 15px 95px;
    }

    .check-icon {
        margin-bottom: -12px;
    }

    .card > p {
        font-size: 14px;
    }

    .card > .details {
        font-size: 14px;
        padding: 0 0 0 0;
    }

    .card > h4 {
        font-size: 16px;
    }

    .card > span {
        font-size: 14px;
        padding: 3px 0;
        margin: 0 2px;
    }

    .footer_top, .footer_menu {
        padding: 15px 93px;
    }

    .footer_information, .footer_main {
        padding: 24px 81px;
    }

    .new-product {
        padding: 15px 98px;
    }

    .form-group > label {
        font-size: 14px;
    }

    .form-group > select {
        height: 39px;
        width: 244px;
    }

    .form-group-checbox input[type="number"], #engine-power {
        width: 243px !important;
        border: 1px solid #aeaeae !important;
        height: 39px !important;
    }

    .product-form-checbox {
        font-size: 13px;
        flex-wrap: nowrap;
    }

    .checbox-inline > label,
    .kredit-checbox,
    .barter-checbox,
    .vin-group > label,
    .additional > label,
    .contact > label {
        font-size: 15px !important;
    }

    .form-group-checbox > label {
        font-size: 13px;
    }

    .vin-group > label {
        margin-right: 7px;
    }

    .vin-group > input {
        border: 1px solid #aeaeae;
        height: 37px;
    }

    .new-description {
        width: 41%;
    }

    .contact > input,
    .contact > select {
        border: 1px solid #aeaeae;
        height: 38px;
        width: 264px;
    }

    #phone-contact {
        margin-left: 17px;
    }

    .new-contact > button {
        margin-left: 27%;
    }

    .product-container {
        padding: 15px 103px;
    }

    .product-embed-and-related {
        padding: 15px 82px;
    }

    .fotorama__stage__frame {
        width: 440.332px;
        height: 296px;
        left: 59.3338px;
        top: 0px;
    }

    .text-content {
        font-size: 12px;
    }

    .product-sidebar-container {
        width: 23%;
        height: 261px;
        padding: 10px;
        margin: 10px;
        top: 32%;
        right: 9%;
    }

    #usd {
        font-weight: bolder;
        font-size: 18px;
        padding-bottom: 4px;
    }

    #val {
        font-size: 14px;
    }

    .product-sidebar-button a {
        padding: 11px 51px;
        font-size: 14px;
    }

    .product-button-phone a {
        padding: 0 56px;
        font-size: 14px;
    }

    .forward-vip-pre a {
        padding: 7px 5px;
        margin-top: 6px;
        font-size: 0;
    }

    .check-icon {
        position: absolute;
        bottom: 74px;
        right: 10px;
    }
}

/* Böyük Ekranlar üçün (> 1200px) */
@media (min-width: 1201px) {
    .main_search {
        padding: 20px 168px;
    }

    .custom-dropdown select,
    .custom-dropdown-val select,
    .custom-dropdown-how-many select {
        padding: 15px 160px 15px 5px;
        font-size: 16px;
    }

    .valyuta {
        border-radius: 5px;
        border: none;
    }

    .price input,
    .march-maks input,
    .power-maks input {
        padding: 15px 10px;
        width: 150px;
    }

    .input-group span {
        padding: 12px 18px;
    }

    .main-search-footer-right > div > button {
        padding: 16px 50px;
    }


    .form-group-checbox input[type="number"], #engine-power {
        width: 246px !important;
        border: 1px solid #aeaeae !important;
        height: 39px !important;
    }

    .vin-group > input {
        border: 1px solid #aeaeae;
        height: 37px;
    }

    #info {
        width: 100%;
    }

    .contact > input,
    .contact > select {
        border: 1px solid #aeaeae;
        height: 38px;
        width: 264px;
    }

    #phone-contact {
        margin-left: 10px;
    }

    .new-contact > button {
        margin-left: 15.5%;
    }
}
