
@{
    ViewData["Title"] = "Details";
}

@section css{
    <!-- jQuery 1.8 or later, 33 KB -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Fotorama from CDNJS, 19 KB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <link rel="stylesheet" href="~/css/ProductCart.css" asp-append-version="true">
}


<section class="product-container">
    <div class="tx-container">
        <ul>
            <li>Mercedes</li>
            <li>GLE 53 AMG Coupe</li>
            <li>Elan № 7753105</li>
        </ul>
        <hr>
    </div>
    <div class="page-content">
        <div class="product-heading-container">
            <h1 class="product-title">
                <span>Mercedes, </span>
                <span>GLE 53 AMG Coupe,</span>
                <span>3.0 L,</span>
                <span>2021 il,</span>
                <span>37 800 km</span>
            </h1>
            <div class="product-heading-right">
                <a href="#"><i class="fa-regular fa-heart"></i>Seçilmişlərdə saxla</a>
                <a href="#"><i class="fa-regular fa-flag"></i>Şikayət et</a>
            </div>
        </div>
        <div class="product-foto">
            <div class="fotorama" data-width="100%">
                <img src="~/img/15363_hVbkAZEk1bugaj6f1J-Xhw.jpg">
                <img src="~/img/3619_br0u-yUgGs_JHQItPsCCng.jpg">
                <img src="~/img/33285__r-9TmyWUlvDqkEGR9EQRQ.jpg">
                <img src="~/img/40043_evkqVd8fSdCs_OhlysVRRw.jpg">
                <img src="~/img/3627_Th8VsYetMakG9SNW1JYMHA.jpg">
                <img src="~/img/40043_evkqVd8fSdCs_OhlysVRRw.jpg">
                <img src="~/img/88089_z7SjKEszOXYSVGYGx3dcfA.jpg">
                <img src="~/img/88120_w1y8UwWsDIdhSUXt2tTx8w.jpg">
                <img src="~/img/3635_gGrutt6UsDS9GsxAuYiK5g.jpg">
            </div>
        </div>
        <section class="product-properties">
            <div class="header-text-content">
                <ul>
                    <li>Yeniləndi: 20.09.2023</li>
                    <li>Baxışların sayı: 1524</li>
                </ul>
                <hr>
            </div>
            <article class="body-text-content">
                <div class="text-content">
                    <label>Şəhər</label>
                    <span>Bakı</span>
                </div>
                <div class="text-content">
                    <label>Sürətlər qutusu</label>
                    <span>Avtomat</span>
                </div>
                <div class="text-content">
                    <label>Marka</label>
                    <span>Mercedes</span>
                </div>
                <div class="text-content">
                    <label>Ötürücü</label>
                    <span>Tam</span>
                </div>
                <div class="text-content">
                    <label>Model</label>
                    <span>GLE 53 AMG Coupe</span>
                </div>
                <div class="text-content">
                    <label>Yeni</label>
                    <span>Xeyr</span>
                </div>
                <div class="text-content">
                    <label>Buraxılış ili</label>
                    <span>2023</span>
                </div>
                <div class="text-content">
                    <label>Sahiblər</label>
                    <span>1</span>
                </div>
                <div class="text-content">
                    <label>Ban növü</label>
                    <span>Offroader / SUV</span>
                </div>
                <div class="text-content">
                    <label>Vəziyyəti</label>
                    <span>Vuruğu yoxdur, rənglənməyib</span>
                </div>
                <div class="text-content">
                    <label>Rəng</label>
                    <span> Qara</span>

                </div>
                <div class="text-content">
                    <label>Mühərrik</label>
                    <span>3.0 L/435 a.g./Benzin</span>
                </div>
                <div class="text-content">
                    <label>Hansı bazar üçün yığılıb</label>
                    <span>Rəsmi diler</span>
                </div>
                <div class="text-content">
                    <label>Yürüş</label>
                    <span>37 800 km</span>
                </div>

            </article>
            <hr>
            <article class="product-description-content">
                <div class="description-content">
                    <p>
                        Rəsmi servisdən alinib <br>
                        Orada qulluq olunub <br>
                        Obyektle barter olunur (mərkəzi yerlərdə)<br>
                    </p>
                </div>
            </article>
            <hr>
            <article class="product-footer-text">
                <div class="footer-text">
                    <ul>
                        <li>Yüngül lehimli disklər</li>
                        <li>Yağış sensoru</li>
                        <li>ABS</li>
                        <li>Lyuk</li>
                        <li>Ksenon lampalar</li>
                        <li>Yan pərdələr</li>
                        <li>Oturacaqların ventilyasiyası</li>
                        <li>Lyuk</li>
                        <li>Ksenon lampalar</li>
                        <li>Yan pərdələr</li>
                        <li>Oturacaqların ventilyasiyası</li>
                    </ul>
                </div>
            </article>
            <hr>
            <div class="footer-text-end">
                <div class="text-end-left">
                    <a>Düzəliş et</a>
                    <a>Elanı sil</a>
                </div>
                <div class="text-end-right">
                    <span>Elanın nömrəsi: 7753105</span>
                </div>
            </div>
        </section>
        <article class="product-sidebar-container">
            <div>
                <div class="product-price">
                    <div id="usd">112 000 USD</div>
                    <div>190 400 AZN</div>
                    <hr>
                </div>
                <div class="owner-logo-wrapper">
                    <div class="product-owner-info">
                        <div class="product-info-name">Ibrahim</div>
                        <div class="product-info-region">Baki</div>
                    </div>
                    <div class="product-info-logo"><i class="fa-solid fa-user"></i></div>
                </div>
                <div class="product-sidebar-button">
                    <a href="#">% Hissə-Hissə al</a>
                </div>
                <div class="product-button-phone">
                    <a href="#">
                        Nömrəni göstər <br>
                        <i class="fa-solid fa-phone"></i>
                        070-881-23-22
                    </a>
                </div>
            </div>
            <div class="forward-vip-pre">
                <a class="forward">
                    <div id="text-wrapper">
                        <div id="for">İrəli çək</div>
                        <div class="price-services">
                            <span>3</span>
                            <span>AZN-dən</span>
                        </div>
                    </div>
                    <div><i class="fa-solid fa-up-long"></i></div>
                </a>

                <a class="forward">
                    <div id="text-wrapper">
                        <div id="for">VIP et</div>
                        <div class="price-services">
                            <span>15</span>
                            <span>AZN-dən</span>
                        </div>
                    </div>
                    <div><i class="fa-solid fa-v"></i></div>
                </a>

                <a class="forward">
                    <div id="text-wrapper">
                        <div id="for">Premium</div>
                        <div class="price-services">
                            <span>5</span>
                            <span>AZN-dən</span>
                        </div>
                    </div>
                    <div><i class="fa-solid fa-crown"></i></div>
                </a>
            </div>

        </article>
    </div>
</section>
<section class="product-embed-and-related">
    <div class="announcements">
        <div class="advertisements-title">
            <h3>BƏNZƏR ELANLAR</h3>
            <a>Hamısını göstər</a>
        </div>
        <div class="car_announcements">
            <div class="card">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/3616_oo_tJnE0GYiG_h6xbULlJg.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </div>
            <div class="card">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/15321_9iatUksbrcpVeyPqVK0vOw.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </div>
            <div class="card">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/15363_hVbkAZEk1bugaj6f1J-Xhw.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </div>
            <div class="card">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/3619_br0u-yUgGs_JHQItPsCCng.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </div>
            <div class="card">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/40043_evkqVd8fSdCs_OhlysVRRw.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </div>

            <div class="card">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/15321_9iatUksbrcpVeyPqVK0vOw.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </div>
            <div class="card">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/15363_hVbkAZEk1bugaj6f1J-Xhw.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </div>
            <div class="card">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/3619_br0u-yUgGs_JHQItPsCCng.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </div>
            <div class="card">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="fa-solid fa-v check-icon"></i>
                <span class="salon-label" style="color: white;">salon</span>
                <div class="rotate-wrapper">
                    <i class="fa-solid fa-rotate-right rotate-icon"></i>
                    <div class="rotate-tooltip">barter mümkündür</div>
                </div>
                <img src="~/img/40043_evkqVd8fSdCs_OhlysVRRw.jpg" alt="car">
                <h4>128 321$</h4>
                <p>BMW X5</p>
                <div class="details">
                    <p>2015</p>
                    <p>3.0 L</p>
                    <p>34 000 km</p>
                </div>
                <span>Baki</span>
                <span>29.08.2023</span>
                <span>14:00</span>
            </div>
        </div>

</section>


