@model HowManyOwnerCategoryDto
@{
    ViewData["Title"] = "Delete";
}

<style>
    .card {
        font-family: serif;
        background-color: #2B3041;
        color: white;
        font-weight: bolder;
        width: 100%;
        margin-top: 120px;
        margin-left: 130px;
    }

    span {
        float: right;
        margin-right: 1rem;
    }

    .list-box {
        margin-left: 1rem;
        font-size: 20px;
        height: 100%;
        margin-top: 3rem;
        border: 2rem;
    }

</style>


<div class="container">
    <div class="row">
        <!--Card 1-->
        <div class="col-md-6 mx-auto d-block">
            <div class="card ">
                <div class="card-header border-4 text-center">
                    <h1 class="display-4 mt-5">Delete </h1>
                </div>
                <div class=" list-box">
                    <div class="my-3"> Id: <span>@Html.DisplayFor(model => model.Id)</span></div>
                    <div class="my-3"> Name: <span>@Html.DisplayFor(model => model.Name)</span></div>
                </div>

                <form class="card-footer p-0 text-center " asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input class="btn btn-danger ms-3 my-4 float-start btn-lg" type="submit" value="Delete" />
                    <a class="btn btn-warning my-4  me-3 float-end btn-lg" asp-action="Index">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>

