<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>
                <li>
                    <a asp-area="FoltAdmin" asp-controller="UserManagment" asp-action="UserIndex" class="waves-effect">
                        <i class="bx bx-buildings"></i>
                        <span key="t-chat">User Managment</span>
                    </a>
                </li>
                <li>
                    <a asp-area="FoltAdmin" asp-controller="UserManagment" asp-action="RoleIndex" class="waves-effect">
                        <i class="bx bx-buildings"></i>
                        <span key="t-chat">Role</span>
                    </a>
                </li>
                <li>
                    <a asp-area="FoltAdmin" asp-controller="Cities" asp-action="Index" class="waves-effect">
                        <i class="bx bx-buildings"></i>
                        <span key="t-chat">Cities</span>
                    </a>
                </li>

                <li>
                    <a asp-area="FoltAdmin" asp-controller="Categories" asp-action="Index" class="waves-effect">
                        <i class="bx bx-box"></i>
                        <span key="t-chat">Categories</span>
                    </a>
                </li>
                <li>
                    <a asp-area="FoltAdmin" asp-controller="SocialLinks" asp-action="Index" class="waves-effect">
                        <i class="bx bx-box"></i>
                        <span key="t-chat">Social</span>
                    </a>
                </li>
                <li>
                    <a asp-area="FoltAdmin" asp-controller="Banners" asp-action="Index" class="waves-effect">
                        <i class="bx bx-box"></i>
                        <span key="t-chat">Banners</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>