@{
    ViewData["Title"] = "Index";
    
}

<section class="recent_announcements">
    <div class="announcements">
        <div class="vıp_title">
            <h4>SEÇİLMİŞ ELANLAR</h4>
        </div>
        <div class="car_announcements">
            @await Component.InvokeAsync("ProductCard", new {productIds = Model })
        </div>
    </div>
</section>